<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Hackaton Demo</title>
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="static/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="static/theme.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script
			  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			  crossorigin="anonymous"></script>
		        
        <script src="https://d3js.org/d3.v4.js"></script>
        <style type="text/css">


.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

        </style>

    </head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Hackaton 2017</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
            
        <div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
            <div class="alert alert-info alert-dismissable">
                <span type="button" class="close" data-dismiss="alert" aria-label="close">&times;</span>
                <strong>Info: </strong> {{ message[1] }}
            </div>
           {% endif %}

            {% if "Error" in message[1]: %}
            <div class="alert alert-warning alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message[1] }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

            <div>            
                <h2>Term query</h2>
            </div>

            <form method="POST" action="/" onsubmit="setTextarea();">
                <div class="form-group">                
                    {{ form.hidden_tag() }}
                </div>                    
                <div class="form-group">                
                    {{ form.term.label }} {{ form.term(size=30, class_="form-control") }}
                </div>                    
                <div class="form-group">            
                    {{ form.definition.label }}
                    <textarea id="definition" name="definition" style="display:none;"></textarea>
                    <div class="form-control" style="resize: both; overflow: auto; width: 100%; height: 70px;" contenteditable="true" name="div_definition" id="div_definition"></div>
                </div>
                <div class="form-check">            
                    {{ form.use_probabilities(class_="form-check-input") }} {{ form.use_probabilities.label(class_="form-check-label") }} 
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

{% if def_attention %}
    
    <script>
        function setTextarea() {
            document.getElementById("definition").value = document.getElementById("div_definition").innerText;
            return true;
        }
            
    $( document ).ready(function() {
        var words = {{ def_attention|safe }};   
             
        $('div#div_definition').html($.map(words, function(w) {
          return '<span title="' + w.attention + '" style="font-weight:bold; background-color:hsl(220,100%,' + (100 - w.attention * 30) + '%)">' + w.word + ' </span>'
        }))

    });        
    </script>

{% endif %}

{% if single_list %}
        <div class="container">
            <h4>Results</h4>
            <table class="table table-bordered table-hover">
    {% for entry in single_list %}
                <tr>
                    <td>{{ entry }}</td>
                </tr>
            </div>
    {% endfor %}
            </table>
        </div>
{% endif %}

{% if multiple_list %}
        <div class="container">
            <h4>Results</h4>
            <table class="table table-bordered table-hover">
    {% for entry in multiple_list %}
                <tr style="{{ entry[2] }}">
                    <td>{{ entry[0] }}</td><td>{{ entry[1] }}</td>
                </tr>
            </div>
    {% endfor %}
            </table>
        </div>
{% endif %}


        <div class= "container" id="graph_div">
        </div>
        <script src="static/tree.js"></script>
        <script>
            
            //*

var treeData = {{ graph_json|safe }};
treeData = {}
if (!$.isEmpty(treeData)) {
    // Set the dimensions and margins of the diagram
    var margin = {top: 20, right: 90, bottom: 30, left: 90},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("div#graph_div").append("svg")
        .attr("width", width + margin.right + margin.left)
        .attr("height", height + margin.top + margin.bottom)
        .call(d3.zoom().on("zoom", zoomed))
      .append("g")
        .attr("transform", "translate("
              + margin.left + "," + margin.top + ")");


    var i = 0,
        duration = 750,
        root;

    // declares a tree layout and assigns the size
    var treemap = d3.tree().size([height, width]);

    // Assigns parent, children, height, depth
    root = d3.hierarchy(treeData, function(d) { return d.children; });
    root.x0 = height / 2;
    root.y0 = 0;

    // Collapse after the second level
    //root.children.forEach(collapse);

    function dragstarted(d) {
      if (!d3.event.active) simulation.alphaTarget(0.3).restart();
      d.fx = d.x;
      d.fy = d.y;
    }

    function dragged(d) {
      d.fx = d3.event.x;
      d.fy = d3.event.y;
    }

    function dragended(d) {
      if (!d3.event.active) simulation.alphaTarget(0);
      d.fx = null;
      d.fy = null;
    }

    function zoomed() {
      svg.attr("transform", "translate(" + d3.event.transform.x + "," + d3.event.transform.y + ")" + " scale(" + d3.event.transform.k + ")");
    }


    update(root);
}
            
/*/
var graphDiv = document.getElementById("graph_div");
var svg = d3.select(graphDiv).append("svg");

// Extract the width and height that was computed by CSS.
var width = graphDiv.clientWidth;
var height = graphDiv.clientHeight;

// Use the extracted size to set the size of an SVG element.
svg
  //.attr("width", width)
  //.attr("height", height)
  .attr("preserveAspectRatio", "xMinYMin meet")
  .attr("viewBox", "0 0 " + width + " " + height);
  
svg = svg.call(d3.zoom().on("zoom", zoomed)).append("g");

svg.append("defs").append("marker")
    .attr("id", "arrow")
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 20)
    .attr("refY", 0)
    .attr("markerWidth", 8)
    .attr("markerHeight", 8)
    .attr("orient", "auto")
    .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5");

var color = d3.scaleOrdinal(d3.schemeCategory10);

var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(40))
    .force("charge", d3.forceManyBody())
    .force("center", d3.forceCenter(width / 2, height / 2));

function createGraph (error, graph) {
  if (error) throw error;

  var link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke", function(d) { return color(d.type); })
      .attr("marker-end", "url(#arrow)");


  var node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
      .attr("r", 10)
      .attr("fill", function(d) { if (d.root == "true") return color(d.root); return color(d.type); })
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

var text = svg.append("g").attr("class", "labels").selectAll("g")
    .data(graph.nodes)
  .enter().append("g");

text.append("text")
    .attr("x", 14)
    .attr("y", ".31em")
    .style("font-family", "sans-serif")
    .style("font-size", "0.7em")
    .text(function(d) { return d.id; });

  node.on("click",function(d){
    console.log("clicked", d.id);
  });


  node.append("title")
      .text(function(d) { return d.id; });

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);


  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
        
    text
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })


  }
}


function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}

function zoomed() {
  svg.attr("transform", "translate(" + d3.event.transform.x + "," + d3.event.transform.y + ")" + " scale(" + d3.event.transform.k + ")");
}

var data = {{ graph_json|safe }};

createGraph(false, data);
*/

</script>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="static/ie10-viewport-bug-workaround.js"></script>        
    </body>
</html>
